

body{
border: 0%;
overflow: scroll;
margin: 0%;
position: relative;
background-image: url(/Site/bg.png);
background-repeat: no-repeat; 
background-size: cover; 
}


.cabeçalho{
position: relative;
margin: 0%;
background-color: #144272;
width: 45%;
margin-left: auto;
margin-right: auto;
box-shadow: black 2px 2px 6px 4px;
}

.Título{
position: relative;
margin: 0%;
text-shadow: black 0.1em 0.1em 0.2em;
font-weight:lighter;
font-size: 300%;
font-style: italic;
font-family: 'Viking-Normal', sans-serif;
text-align: center;
}

.img3{

position: relative;
width: 300;
height: 400;
margin-left:40%;
margin-top: 2%;
box-shadow: black 2px 2px 6px 4px;
}


.desc{

 
    background-color: #144272;
    width: 570px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    right: 36%;
    top:-6%;
    box-shadow: black 2px 2px 6px 4px;

}

.frase{
position: relative;
top: 5%;
font-size: x-large;
text-align: center;
font-family:'Viking-Normal', sans-serif;
text-shadow: black 0.1em 0.1em 0.2em;
font-weight:lighter;

}

.quadM1{
   
position: relative;
background-color: #2C74B3;
margin-top: 8%;
width: 1200px;
height: 500px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
box-shadow: black 2px 2px 6px 4px;


}

.quadMN1{

    position: relative;
    background-color: #205295;
    width: 220px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    right: 36%;
    top:-6%;
    box-shadow: black 0px -2px 6px 2px; 
    



}

.Cap1{
    position: relative;
    text-align: center;
    font-size:14px;
    font-family:'Viking-Normal', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight:lighter;
    bottom: -25%;

}

.img4{

position: relative;
width: 210;
height: 260;
margin-left: 415%;
box-shadow: black 1px 1px 10px 2px;



}

.framotv1{

width: 400;
height: 100;




}

.motv1{

    position: relative;
    left: 140%;
    font-size:13px;
    margin-top: -10%;
    font-family:'Viking-Normal', sans-serif;
    text-shadow: black 0.1em 0.2em 0.3em;
    font-weight:bolder;
    bottom: -25%;
    line-height: 25px;


}

.QuadME1{

    position: relative;
    background-color: #2C74B3;
    width: 1200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 16%;
  overflow: scroll;
 


  
    
}


.p1{
margin-top: 1%;
    margin: 1%;
    left: 140%;
    font-size:11px;
    font-family:'Viking-Normal', sans-serif;
    text-shadow: black 0.1em 0.2em 0.3em;
    font-weight:bolder;
    line-height: 25px;



}

.vid1{

position: relative;
    width: 200;
    height: 200;
    margin-top: -38.3%;
    margin-left: 6%;
}

